.MG {
    color: red;
}

.OG2 {
    color: red;
}

.OG3 {
    color: red;
}

.S {
    color: green;
}

.ML {
    color: gray;
}

.SP {
    color: gray;
}

.MM {
    color: orange;
}

.OG1 {
    color: orange;
}